@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic");

@media (max-width: 991px) {
	.tree-branches li {
		position: relative !important;
		max-width: none !important;
		margin: 1rem 0;
		top: auto !important;
		right: auto !important;
		left: auto !important;} }

@media screen and (max-width: 826px) {
	.products {
		-webkit-justify-content: space-around;
		-ms-flex-pack: distribute;
		justify-content: space-around; } }

@media screen and (max-width: 768px) {

	.products-card {
		max-width:100% !important;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column; }
	.products-card img {
		margin-bottom: 20px; } 
	.main-first-section .main-images{
	display:none;
	}
	.main-last-images  {
		display: none !important;
	}
	.main-links-wrap div {
   position: static !important;
    margin: 1rem auto !important;
    width: 50%;
}
	
}

@media screen and (max-width: 522px) {
	

	
	.product-price-block {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column; }
	.products-card-tel-nums {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column; }
	.table-bordered {
/*	word-break: break-all; */} 
}

@font-face {
	font-family: 'Open Sans', sans-serif;
	src: url("../fonts/OpenSans-Regular.ttf"); }

@font-face {
	font-family: 'Open SansBold', sans-serif;
	src: url("../fonts/OpenSans-Bold.ttf"); }

@font-face {
	font-family: 'Open SansLight', sans-serif;
	src: url("../fonts/OpenSans-Light.ttf"); }

@font-face {
	font-family: 'Open SansSemiBold', sans-serif;
	src: url("../fonts/OpenSans-SemiBold.ttf"); }

@font-face {
	font-family: 'Open SansExtraBold', sans-serif;
	src: url("../fonts/OpenSans-ExtraBold.ttf"); }

body, html {
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
	background: #000; }
button{
	outline: none !important;
}
span {
	font-size: inherit !important;
	font-weight: inherit !important;
}

.container {
	max-width: 1170px !important; }

.header {
	min-height: 200px;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-image: url("../images/header-bg.png"); }

.header-top {
	padding: 1.5rem 0;
	flex-wrap: wrap; }

.price-list {
	padding: 1rem 0;
	cursor: pointer;
	border: none;
	background: none;
	text-decoration: none !important; }

.price-list:hover p {
	-webkit-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	color: #ed1d24; }

.price-list:hover p span {
	-webkit-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	color: #ed1d24; }

.price-list p {
	font-size: 0.9375rem;
	font-family: "Open Sans", sans-serif;
	color: #fff;
	padding-left: 1rem;
	margin-bottom: 0; }

.price-list p span {
	font-size: 1.125rem;
	font-family: "Open SansBold", sans-serif;
	color: #fff;
	text-transform: uppercase; }

.logo {
	display: block;
	text-decoration: none !important; }

.logo p {
	font-size: 1.125rem;
	color: #fff;
	font-family: "Open Sans", sans-serif;
	text-align: center;
	padding-top: 5px;
	margin-bottom: 0; }

.header-contacts {
	padding: 1rem 0; }

.header-contacts p {
	margin-bottom: 0; }

.header-contacts p:first-child a {
	font-family: "Open SansBold", sans-serif;
	font-size: 1.375rem;
	color: #ed1d24; }

.header-contacts p:last-child {
	font-family: "Open Sans", sans-serif;
	font-size: 1rem;
	color: #fff; }

.header-contacts p:last-child a {
	color: #fff; }

.nav-menu ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-top: 1rem;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-left: 0;
	margin-bottom: 0; }

.nav-menu ul li {
	list-style: none; }

.nav-menu ul li a {
	font-family: "Open SansBold", sans-serif;
	color: #fff;
	text-transform: uppercase;
	font-size: .9rem; }

.nav-menu ul li a:hover {
	color: #ee1d25;
	text-decoration: none; }

.bread-crumbs {
	padding-top: 50px;}

.bread-crumbs ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-left: 0;
	margin-bottom: 0; }

.bread-crumbs ul li {
	list-style: none; }

.bread-crumbs ul li:after {
	content: url("../images/crumb-arrow.png");
	padding: 0 1rem; }

.bread-crumbs ul li:last-child:after {
	content: " "; }

.bread-crumbs ul li a {
	font-size: 1.0625rem;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300; }

.bread-crumbs ul li:last-child a {
	text-decoration: none; }

/* TREE-BRANCHES */

.main-content {
	min-height: 600px;
	padding-top: 0px;
	margin-bottom: 30px; }

.tree-branches {
	padding-left: 0;
	margin-bottom: 0;
	position: relative;
	text-align: center;
	word-wrap: break-word;}

.tree-branches li {
	list-style: none;
	position: absolute;
/*	padding: 1rem;*/
	background: url("../images/tree-item.png");
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	opacity: .9}

.tree-branches li a {
	margin-bottom: 0;
	font-size: 1rem;
	font-family: "Open SansExtraBold", sans-serif;
	color: #fff;
	text-transform: uppercase;
	text-align: center; }

.tree-branches li p {
	margin-bottom: 0;
	font-size: 1rem;
	font-family: "Open SansExtraBold", sans-serif;
	color: #fff;
	text-transform: uppercase;
	text-align: center; }

.tree-branches li img {
	position: absolute;
	top: 0;
	right: 0; }

.tree-branches li:nth-child(1) {
	max-width: 225px;
	    top: 3rem;
	left: 4rem; }

.tree-branches li:nth-child(2) {
	max-width: 180px;
	top: 12rem;
	left: 0; }

.tree-branches li:nth-child(3) {
	max-width: 180px;
	top: 21rem;
	left: 12rem; }

.tree-branches li:nth-child(4) {
	max-width: 200px;
	top: 28rem;
	left: 8rem; }

.tree-branches li:nth-child(5) {
	max-width: 180px;
	top: 7rem;
	left: 21rem; }

.tree-branches li:nth-child(6) {
	max-width: 180px;
	top: 16rem;
	left: 33rem; }

.tree-branches li:nth-child(7) {
	max-width: 180px;
	top: 22rem;
	left: 28rem; }

.tree-branches li:nth-child(8) {
	max-width: 180px;
	top: 4rem;
	left: 34rem; }

.tree-branches li:nth-child(9) {
	max-width: 180px;
	top: 0;
	right: 8rem; }

.tree-branches li:nth-child(10) {
	max-width: 180px;
	top: 7rem;
	right: 3rem; }

.tree-branches li:nth-child(11) {
	max-width: 180px;
	top: 12rem;
	right: 10rem; }

.tree-branches li:nth-child(12) {
	max-width: 170px;
	top: 26.5rem;
    right: 14rem; }

.tree-branches li:nth-child(13) {
	max-width: 220px;
	top: 23rem;
	right: 0; }

.tree-branches li:nth-child(14) {
	max-width: 180px;
	top: 30rem;
	right: 3rem; }

.tree-branches li:nth-child(15) {
	max-width: 180px;
	top: 30rem;
	right: 24rem; }

.tree-branches li:nth-child(16) {
	max-width: 180px;
	top: 30rem;
	right: 24rem;}

/* END TREE-BRANCHES */

/* CATALOG PRINTS STYLES */
.catalog-main-title h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 2.5rem;
	color: #fff;
	text-align: center;
	text-transform: uppercase; }

.catalog-main-title h3 span {
	color: #ee1d25;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 2.2rem;
	text-align: left;
	text-transform: uppercase; }

.catal-main-title{
	margin-bottom: 50px !important;
}

.catalog-main-left-title h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 2.2rem;
	color: #fff;
	text-align: left;
	text-transform: uppercase; }

/*main styles*/

.glide__arrow {
	border: none !important;
	box-shadow: none !important;
}

 .glide__arrow--left {
background: url(/public/images/chevron-left-solid.svg) !important;
background-position: center !important;
background-repeat: no-repeat !important;
left: 1em !important;
}

 .glide__arrow--right {
	background: url(/public/images/chevron-right-solid.svg) !important;
	background-position: center !important;
background-repeat: no-repeat !important;
right: 1em !important;
}

.mobile-slider {
	display: none;
}
.main{
height:100%;
}
.main-title h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 2.1rem;
	color: #fff;
	text-align: center;
	text-transform: uppercase; }

.main-title h3 span {
	color: #ee1d25;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 2.2rem;
	text-align: left;
	text-transform: uppercase;
	font-size: inherit; }
/*end main styles*/

.catalog-main-left-title h3 span {
	color: #ee1d25; }

.products {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap; }

.vivesky-item {
	width: 230px;
	display: block;
	margin-bottom: 68px;
}


.product-card {
	text-decoration: none !important;
	display: block; }

.product-card:hover .product-image img {
	-webkit-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1); }

.product-card:hover .product-image {
	-webkit-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	opacity: 0.6;
	background-color: #000 !important; }

.product-title {
	display: none !important;
	background: #ed1d24;
	padding: 0 5px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 70px; }

.product-title p {
	margin-bottom: 0;
	font-size: 1rem;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	text-align: center; }

.product-image {
	position: relative;
	height:180px;
	overflow: hidden; }

.product-image img {
	width: 100%;
	height: 100%; }

.vikar {
	width: auto !important;
	height: auto !important;
	position: absolute;
	bottom: 0;
	right: 0; }

.price-title {
	background-color: #fff;
	padding: 15px;
    height: 115px;}

.price-title p {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 0;
	color: #000; }

.price p {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	margin-bottom: 0; }

.price p span {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800; }

/* END CATALOG PRINTS STYLES */
/* CATALOG OPEN BANNER STYLES */
.main-left-title h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 2.2rem;
	color: #fff;
	text-align: left;
	text-transform: uppercase; }

.main-left-title h3 span {
	color: #ee1d25; }

.products-card {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex; }

.card-item {
	padding-left: 0; }

.card-item img {
	width: 100%;
	max-height: 405px; }

.product-price-block {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between; }

.product-buy {
	padding-right: 0; }

.price-block {
	line-height: 26px; }

.price-block p {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 35px;
	margin-bottom: 0; }

.price-block span {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px; }

.buy-block {
	width: 250px; }
.end_map{
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50% , 100%);
}

.buy-btn {
	width: 100%;
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	background-color: #000;
	text-align: center;
	border: none;
	cursor: pointer;
	padding: 10px 0;
	background-image: url("../images/button-bkg.png");
	-webkit-background-size: 100% 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center; 	
}
.buy-block button{
	outline: none;
}

.buy-btn:hover {
	-webkit-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	background-image: url("../images/button-bkg-white.png");
	color: #ee1d25; }

.products-card-tel-nums {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top: 2rem; }

.products-card-tel-nums p {
	margin-bottom: 0; }

.products-card-tel-nums p a {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 28px; }

.products-card-tel-nums p a:hover {
	text-decoration: none;
	-webkit-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	color: #ee1d25; }

.products-card-search-block {
	margin-top: 0.75rem; }

.products-card-search-block form {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex; }

.input-tel {
	width: 100%; }

.input-tel input {
	width: 100%;
	border: none;
	padding: 10px;
	color: #000;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif; }

.products-card-search-block form .btn-send {
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	background-color: #000;
	text-align: center;
	border: none;
	border-left: 2px solid #ee1d25;
	cursor: pointer;
	background-image: url("../images/btn-send-red.png");
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center; }

.products-card-search-block form .btn-send:hover {
	-webkit-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	background-image: url("../images/btn-send.png");
	color: #ee1d25;
	border-left: 2px solid #ee1d25; }

.conditions-payment {
	margin-top: 2rem; }

.conditions-payment h4 {
	color: #fff;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	margin-bottom: 0; }

.conditions-payment ul {
	padding-left: 1rem;
	padding-top: 1rem;
	margin-bottom: 0; }

.conditions-payment ul li {
	color: #fff;
	margin: 0.5rem 0;
	font-size: 18px; }

.card-table {
	margin-top: 2rem;
	margin-bottom: 3rem; 
	max-width: 1140px;
	overflow-x: scroll;
}

.card-table .table th, .table td {
     padding: 0rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.card-table .table {
	margin-bottom: 0;
}

.card-table .table thead {
	background-color: #ee1d25;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 17px;
	text-transform: uppercase; }

.card-table .table thead tr th span {
	display: block;
	text-transform: none;
	font-size: 14px;
	font-weight: 400; }

.table thead th {
	vertical-align: top;
	border-bottom: none; }

.table-bordered th {
	border: 1px solid #d61a21; }

.card-table .table tbody {
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #000;
	font-size: 18px;
	text-align: center; }

/* END CATALOG OPEN BANNER STYLES */
.footer {
	padding: 1rem 0;
	background-color: #191919; }

.reserved {
	padding: 1.2rem 2rem; }

.reserved p {
	font-family: "Open SansLight", sans-serif;
	font-size: 1rem;
	color: #fff;
	margin-bottom: 0; }

.reserved p a {
	font-family: "Open SansBold", sans-serif;
	color: #ed1d24; }

.footer-socials {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center; }

.footer-socials ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-left: 0;
	margin-bottom: 0; }

.footer-socials ul li {
	list-style: none;
	padding: 0 0.3rem; }

.footer-socials ul li a img:hover {
	-webkit-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg); }


/*DELIVERY STYLES*/

.delivery_map{
width:100%;
	height:350px;
}


.delivery-text p {
	font-size: 18px;
	font-family: "Open SansBold", sans-serif;
	color: #fefefe;
	text-align: left;
	font-weight: 600;
}
.delivery-text ul{
	display: flex;
}
.delivery-text ul li {
	margin-left: 50px;
	color: #fefefe;
	font-size: 18px;
}
.space{
	margin-top: 50px;
}
.frame{
	margin-top: 30px;
	background-color: #FFFFFF;
	height: 850px;
	width: 100%;
	-webkit-clip-path: polygon(0 0, 97% 0, 100% 4%, 100% 70%, 100% 100%, 30% 100%, 0 100%, 0% 30%);
	clip-path: polygon(0 0, 97% 0, 100% 4%, 100% 70%, 100% 100%, 30% 100%, 0 100%, 0% 30%);

}
.first-head{
	padding-top: 20px;
	padding-left: 30px;
	min-height: 90px;
	box-shadow: 0 4px 20px -2px gray;
}
.cost-delivery{
	margin-top: 20px;
	float: left;
}
.cost-delivery p{
	color: #000000;
	font-size: 18px;
	font-family:'Open Sans',sans-serif;
}
.select {
	float: left;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 0 5px 0 rgba(0, 0, 0, 0.19);
	position: relative;
	display: inline-block;
	width: 390px;
	margin: 7px 0 0 24px;
}
.select select {
	font-family: 'Open Sans',sans-serif;
	font-size: 16px;
	display: inline-block;
	width: 100%;
	cursor: pointer;
	padding: 10px 15px;
	outline: 0;
	border: 0px solid #000000;
	border-radius: 0px;
	background: #FFFFFF;
	color: #000000;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.select select::-ms-expand {
	display: none;
}
.select select:hover,
.select select:focus {
	color: #000000;
	background: #FFFFFF;
}
.select select:disabled {
	opacity: 0.5;
	pointer-events: none;
}
.select_arrow {
	position: absolute;
	top: 10px;
	right: 10px;
	pointer-events: none;
}
.del-text-block{
	float: left;
	margin-left: 30px;
}
.cost-text{
	float: left;
	font-size: 20px;
	color: #000000;
	font-family: 'Open SansSemiBold', sans-serif;
}
.cost-text span{
	color: #ee1d25;
	font-size: 20px;
	font-family: 'Open SansSemiBold', sans-serif;
	font-weight: 700;
}
.free-del-text{
	font-size: 16px;
	font-family: 'Open Sans-Light', sans-serif;
	color: #7a7a7a;
}
.free-del-text span{
	font-size: 16px;
	font-family: 'Open Sans-Light', sans-serif;
	color: #ee1d25 ;
	font-weight: 700;
}
.second-head{
	padding: 15px 0;
}
.second-head ul{
	display: flex;
	list-style-type: none;
	    width: 100%;
}
.second-head ul li img{
	margin-right: 7px;
}
.second-head ul li{
	margin-left: 10px;
	font-size: 13px;
	color: #000000;
	font-family: 'Open Sans',sans-serif;
}

.payment-text ul{
	columns:2;
}
.payment-text ul li .head{
	font-size: 18px;
	color: #FFFFFF;
	font-family: 'Open SansSemiBold',sans-serif;
}
.payment-text ul li{
	margin-bottom: 30px;

	width: 90%;
	font-size: 16px;
	color: #FFFFFF;
	font-family: 'Open Sans',sans-serif;
}
/* END DELIVERY STYLES*/

/* CATALOG OPEN BANNER STYLES */
.main-left-title h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 1.5rem;
	color: #fff;
	text-align: left;
	text-transform: uppercase; }

.main-left-title h3 span {
	color: #ee1d25;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 2.2rem;
	text-align: left;
	text-transform: uppercase;}

.products-card {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex; }

.card-item {
	padding-left: 0; }

.card-item img {
	width: 100%;
	max-height: 405px; }

.product-price-block {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between; }

.product-buy {
	padding-right: 0; }

.price-block {
	line-height: 26px; }

.price-block p {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 25px;
	margin-bottom: 0; }

.price-block span {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px; }

.buy-btn {
	width: 200px;
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	background-color: #000;
	text-align: center;
	border: none;
	cursor: pointer;
	padding: 10px 0;
	background-image: url("../images/button-bkg.png");
	-webkit-background-size: 100% 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center; }

.buy-btn:hover {
	-webkit-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	background-image: url("../images/button-bkg-white.png");
	color: #ee1d25; }

.products-card-tel-nums {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top: 2rem; }

.products-card-tel-nums p {
	margin-bottom: 0; }

.products-card-tel-nums p a {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 22px; }

.products-card-tel-nums p a:hover {
	text-decoration: none;
	-webkit-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	color: #ee1d25; }

.products-card-search-block {
	margin-top: 0.75rem; }

.products-card-search-block form {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex; }

.input-tel {
	width: 100%; }

.input-tel input {
	width: 100%;
	border: none;
	padding: 10px;
	color: #000;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif; }

.products-card-search-block form .btn-send {
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	background-color: #000;
	text-align: center;
	border: none;
	border-left: 2px solid #ee1d25;
	cursor: pointer;
	background-image: url("../images/btn-send-red.png");
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center; }

.products-card-search-block form .btn-send:hover {
	-webkit-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	background-image: url("../images/btn-send.png");
	color: #ee1d25;
	border-left: 2px solid #ee1d25; }

.conditions-payment {
	margin-top: 2rem; }

.conditions-payment h4 {
	color: #fff;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	margin-bottom: 0; }

.conditions-payment ul {
	padding-left: 1rem;
	padding-top: 1rem;
	margin-bottom: 0; }

.conditions-payment ul li {
	color: #fff;
	margin: 0.5rem 0;
	font-size: 18px; }

.card-table {
	margin-top: 2rem;
	margin-bottom: 3rem; }

.card-table .table thead {
	background-color: #ee1d25;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 17px;
	text-transform: uppercase; }

.card-table .table thead tr th span {
	display: block;
	text-transform: none;
	font-size: 14px;
	font-weight: 400; }

.table thead th {
	vertical-align: top;
	border-bottom: none; }

.table-bordered th {
	border: 1px solid #d61a21; }

.card-table .table tbody {
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #000;
	font-size: 18px;
	text-align: center; }

/* END CATALOG OPEN BANNER STYLES */

/*Calculation styles*/
.calc-img img{
	margin-bottom: 35px ;
}
.calc-text  p{
	font: 500 18px/28px 'Open Sans',sans-serif;
	color: #fefefe;
}
.list-head{
	font: 600 18px/28px 'Open SansBold',sans-serif;
	color: #fefefe;
}
.list-head ul li{
	font: 500 18px/28px 'Open Sans',sans-serif;
}
.calc-bg{
	padding: 30px;
	background-color: #FFFFFF;
	min-height: 811px;
	-webkit-clip-path: polygon(50% 0%, 97% 0, 100% 2%, 100% 70%, 100% 100%, 50% 100%, 21% 100%, 0 100%, 0% 35%, 0 0);
	clip-path: polygon(50% 0%, 97% 0, 100% 2%, 100% 70%, 100% 100%, 50% 100%, 21% 100%, 0 100%, 0% 35%, 0 0);
}
.calc-dark-text{
	font: 700 24px/28px 'Open SansBold', sans-serif;
	color: #000000;
}
.operations-block{
	display: flex;
	margin: 15px 0;
}
.btn-operation{
	border: 1px solid #dddddd;
	width: 33%;
	font: 800 24px/28px 'Open Sans',sans-serif;
	color: #0d0d0d;
	background-color: #f7f7f7;
	min-height: 70px;
	padding: 30px 75px;
}

.btn-operation:hover{
	background-color: #ee1d25;
	color: #FFFFFF;
	cursor: pointer;
}
/*End Calculation styles*/

/*Calc style*/
input[type="number"] {
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}
.input-text{
	font: 500 24px/28px 'Open Sans',sans-serif;
	color: #0d0d0d;
}
.scale-text{
	font: 600 18px/24px 'Open SansSemiBold',sans-serif;
	color: #000000;
	text-align: center;
}
.scale-text p{
	font: 400 16px/24px 'Open SansSemiBold',sans-serif;
	color: #000000;
	text-align: center;
}
.label-text{
	margin-top: 35px;
	margin-bottom: 20px;
	font: 600 18px/24px 'Open SansSemiBold',sans-serif;
	color: #000000;
	text-align: left;
}
.checkbox-block1 input{
	margin-right: 10px;
	width: 20px;
	height: 20px;
	background: #FFFFFF;
}
.checkbox-block1 img{
	margin-left: 10px;
}
.checkbox-block2 input{
	margin-right: 10px;
	width: 20px;
	height: 20px;
	background: #FFFFFF;
}
.checkbox-block2 input:last-child{
	margin-left: 40px;
}
.checkbox-block2 img{
	margin-left: 10px;
}
.price-button{
	-webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 86% 100%, 13% 100%, 0 71%, 0 0);
	clip-path: polygon(50% 0%, 100% 0, 100% 100%, 86% 100%, 13% 100%, 0 71%, 0 0);
	background-color: #404040;
	min-height:70px;
	width: 45%;
	color: #FFFFFF;
	font: 400 20px/38px 'Open Sans',sans-serif;
	transition: 0.3s ease;
}

.price-button span{
	font: 600 20px/38px 'Open SansBold',sans-serif;
	transition: 0.3s ease;
}
.price-button:hover{
	text-decoration: none;
	background-color: #fff;
	color: #404040;
}

.price-button:hover > span{
	color: #404040;
}

.send-button{
	-webkit-clip-path: polygon(50% 0%, 100% 0, 100% 69%, 85% 100%, 0 100%, 0 0);
	clip-path: polygon(50% 0%, 100% 0, 100% 69%, 85% 100%, 0 100%, 0 0);
	background-color:#ee1d25;
	width: 45%;
	min-height: 70px;
	font: 600 20px/38px 'Open Sans',sans-serif;
	color: #FFFFFF;
	margin-left: 10px;
	transition: 0.3s ease;
}
.send-button:hover{
	text-decoration: none;
	color: #ee1d25;
	background-color: #fff;
}

/*End Calc style*/


/*Delivery's Medias*/
@media (max-width:320px){
	.first-head{
		min-height: 300px;
	}
	.select{
		width: 200px;
		margin: 0;
	}
	.select select{
		font-size: 12px;
	}
	.delivery-text ul li{
		margin-left: 10px;
	}
	.del-text-block {
		margin-top: 7px;
	}
	.payment-text ul{
		columns: 1;
	}
	.second-head ul,.delivery-text ul{
		display: block;
	}
	.del-text-block{
		margin-left: 0;
	}
	.btn-operation {
		padding: 20px;
	}

	.price-button{
		width: 90%;
		margin-bottom: 10px;
	}
	.send-button{
		width: 90%;
	}
}
@media (min-width:320px)and (max-width:450px){
	.delivery_map{
width:100%;
	height:300px;
}
	.price-button{
		width: 90%;
		margin-bottom: 10px;
	}
	.send-button{
		width: 90%;
	}
	.checkbox-block2 input {
		margin-right: 2px;
	}
}
@media (min-width:320px)and (max-width:576px){
	.gallery-desktop{
		display: none
	}
	.mobile-slider{
		display: block;
	}
	.first-head{
		min-height: 230px;
	}
	.select{
		width: auto;
		margin: 0;
	}
	.delivery-text ul li{
		margin-left: 10px;
	}
	.del-text-block {
		margin-top: 7px;
	}
	.payment-text ul{
		columns: 1;
	}
	.second-head ul,.delivery-text ul{
		display: block;
	}
	.del-text-block{
		margin-left: 0;
	}
	.btn-operation{
		padding: 30px;
	}
	.checkbox-block2 input {
		margin-right: 2px;
	}
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px )and (max-width:768px ){
	.mobile-slider{
		display: none;
	}
	.first-head{
		min-height: 200px;
	}
	.del-text-block {
		margin-top: 7px;
	}
	.payment-text ul{
		columns: 1;
	}
	.second-head ul,.delivery-text ul{
		display: block;
	}
}
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width:860px ){
	.mobile-slider{
		display: none;
	}
	.second-head ul,.delivery-text ul{
		display: block;
	}
	.delivery-text ul li {
		margin-left: 12px;
	}
	.cost-delivery p{
		font-size: 15px;
	}
	.first-head{
		padding-left: 10px;
		min-height: 140px;
	}
	.select{
		width: 240px;
		margin-left: 5px;
	}
	.select select{
		font-size: 15px;
	}
	.del-text-block{
		margin-left: 5px;
	}
	.cost-text,.cost-text span{
		font-size: 15px;
	}
	.free-del-text, .free-del-text span{
		font-size: 15px;
	}


}
@media (min-width: 860px) and (max-width:992px ){
	.mobile-slider{
		display: none;
	}
	.second-head ul,.delivery-text ul{
		display: block;
	}
	.delivery-text ul li {
		margin-left: 25px;}
	.select select{
		font-size: 15px;
	}
	.select{
		width: 240px;
		margin-left: 5px;
	}
	.cost-text,.cost-text span{
		font-size: 15px;
	}
	.free-del-text, .free-del-text span{
		font-size: 15px;
	}
}
/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width:1200px ) {
	.mobile-slider{
		display: block;
	}
	.select{
		width: 290px;
	}
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.mobile-slider{
		display: none;
	}
	
}


/*VIKAR ORDER*/
.red-text {
	color: #ed1d24; }

.order {
	background: #ee1d25;
    border: 1px solid black;
    border-radius: 12px;
	margin: 5px;
	color: #fff;
}

.order:focus {
	box-shadow: none;
	
}
.col_order {
	text-align: center;
	border: none;
}
.order-title {
	margin: 50px 20px 40px 20px; }
.order-title h1 {
	font-family: "Open SansExtraBold", sans-serif;
	font-weight: 800;
	font-size: 44px;
	color: #fff;
	text-transform: uppercase;
	text-align: center; }

.order-content {
	background-color: #fff;
	padding: 0 10px 0 10px; }

.order-top {
	padding: 20px 0 10px 0;
	margin: 0;
	border-bottom: 1px solid #e5e5e5; }
.order-top h4 {
	font-family: "Open SansExtraBold", sans-serif;
	font-weight: 800;
	font-size: 18px;
	text-transform: uppercase; }

.order-item {
	padding: 20px 0 10px 0;
	margin: 0;
	border-bottom: 1px solid #e5e5e5; }
.order-item h3 {
	font-family: "Open SansExtraBold", sans-serif;
	font-size: 22px;
	font-weight: 800;
	text-transform: uppercase; }
.order-item p {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	color: #3a3a3a; }
.order-item h5 {
	font-family: "Open SansBold", sans-serif;
	font-size: 30px;
	font-weight: 700;
	margin: 0; }

.order-item .order-input {
	border: 1px solid #ededed;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 120px;
	height: 48px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
	margin-top: 5px; }
.order-item .order-input input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-align: center;
	position: relative;
	border: none;
	width: 100%;
	height: auto; }
.order-item .order-input a {
	position: absolute; }
.order-item .order-input a:nth-child(1) {
	left: 15px;
	top: 10px;
	z-index: 5; }
.order-item .order-input a:nth-child(3) {
	right: 15px;
	top: 10px;
	z-index: 5; }

.order-bottom {
	text-align: right;
	margin: 0 0 20px 0;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center; }
.order-bottom h6 {
	font-family: "Open SansBold", sans-serif;
	font-size: 24px;
	font-weight: 700; }
.order-bottom p {
	font-family: "Open SansBold", sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #fff; }

.order-bottom .order-total {
	background-color: #fff;
	padding-left: 40px;
	padding-top: 36px;
	padding-bottom: 30px;
	-webkit-clip-path: polygon(0 0, 100% 0%, 100% 30%, 100% 80%, 100% 100%, 4% 100%, 0% 80%, 0% 20%);
	clip-path: polygon(0 0, 100% 0%, 100% 30%, 100% 80%, 100% 100%, 4% 100%, 0% 80%, 0% 20%); }
.order-bottom .order-total h5 {
	font-family: "Open SansBold", sans-serif;
	font-size: 30px;
	font-weight: 700;
	margin: 0; }
.order-bottom .order-total h4 {
	text-align: left;
	font-family: "Open Sans", sans-serif;
	font-size: 20px; }
.order-bottom .order-total a {
	display: block;
	background-color: #ee1d25;
	color: #fff;
	font-family: "Open SansExtraBold", sans-serif;
	font-size: 22px;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
	width: 300px;
	height: 63px;
	line-height: 63px;
	position: absolute;
	-webkit-clip-path: polygon(0 0, 92% 0%, 100% 30%, 100% 80%, 100% 100%, 8% 100%, 0% 70%, 0% 20%);
	clip-path: polygon(0 0, 92% 0%, 100% 30%, 100% 80%, 100% 100%, 8% 100%, 0% 70%, 0% 20%);
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease; }
.order-bottom .order-total a:hover {
	text-decoration: none;
	background-color: #000; }

.order-bottom .order-bottom-input {
	width: 100%;
	margin: 0; }

.order-bottom-input .order-bottom-input-item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-top: 40px; }
.order-bottom-input .order-bottom-input-item input {
	margin-bottom: 20px;
	height: 55px;
	padding-left: 20px;
	border: none; }
.order-bottom-input .order-bottom-input-item input::-webkit-input-placeholder {
	color: #000; }
.order-bottom-input .order-bottom-input-item input::-moz-placeholder {
	color: #000; }
.order-bottom-input .order-bottom-input-item input:-ms-input-placeholder {
	color: #000; }
.order-bottom-input .order-bottom-input-item input::-ms-input-placeholder {
	color: #000; }
.order-bottom-input .order-bottom-input-item input::placeholder {
	color: #000; }

@media screen and (max-width: 360px) {
	.order-btn {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center; } }

@media screen and (max-width: 992px) {
	.order-top {
		display: none; }
	.order-bottom {
		text-align: left !important; }
	.order-bottom .order-total {
		height: 300px; }
	.order-bottom .order-btn a {
		margin-top: 80px;
		width: 100%; } }
/*END VIKAR ORDER*/



/*GALLERY*/



.gallery-lg-img img{
	    width: 100%;
	height: 425px;
	display: block;
	margin: auto;

}
.gallery-lg-img iframe{
	width: 100%;
	height: 400px;
	margin-bottom: 20px;
}
.gallery-sm-img img{
	width: 100%;
	height: 200px;
	display: block;
	margin: auto;
	margin-bottom: 20px;
}

.gallery-sm-img a{
margin-bottom: 20px;
}
.gallery-sm-img iframe{
	width: 100%;
	height: 200px;
	margin-bottom: 20px;
}
.gallery-title {
	text-align: center;
	margin: 37px 20px; }
.gallery-title h1 {
	font-family: "Open SansExtraBold", sans-serif;
	font-size: 44px;
	color: #ffffff;
	font-weight: 900;
	text-transform: uppercase; }

.gallery-title-red-text {
	color: #ed1d24;
	font-family: "Open SansExtraBold", sans-serif;
	font-size: 44px;
	font-weight: 900;
	text-transform: uppercase; }



/* END 3 СТРОКА */
.gallery-btn {
	background-image: url("../images/gallery-btn.png");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	width: 260px;
	height: 80px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 30px; 
    transition: all .3s}
.gallery-btn {
color:#fff;
}


.gallery-btn a {
	line-height: 80px;
	color: #fff;
	font-family: "Open SansExtraBold", sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 20px; }
.gallery-btn a:hover {
	border-bottom: dotted 2px #fff; }
.gallery-btn a:after {
	content: url("../images/gallery-arrow-down.png");
	margin-left: 8px; }


.btn-play-gallery{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15% !important;
    height: 15% !important;
    transform: translate( -51%, -86%);

}

.gallery-content-hidden {
	height: 0px;
	transition: all .3;
    overflow: hidden;
}

.gallery-content-hidden-cancel {
	height: 500px;
	transition: all .3;
    overflow: hidden;
}

/*END GALLERY*/

/*GALLERY RESPONSIVE*/
@media screen and (max-width: 992px) {
	.gallery-left1 {
		padding: 20px; }
	.gallery-left1 img {
		width: 100%;
		padding: 0; }
	.gallery-right1 img {
		margin: 0 15px 30px 20px; }
	.gallery-right2 {
		padding: 20px; }
	.gallery-right2 img {
		width: 100%; }
	.gallery-left3 {
		padding: 20px; }
	.gallery-left3 img {
		width: 100%;
		padding: 0; } }

@media screen and (max-width: 380px) {
	.gallery-title{
		margin: 37px 5px;
	}
	.gallery-title h1 {
		font-size: 38px;
	}
}
/*END GALLERY RESPONSIVE*/


/*VAKANSII*/
h3.vakansii {
	text-align: center;
}

.main-left-title h3 span {
	color: #ee1d25; }

.block-vakansiya {
	background-color: #fff;
	background-repeat: no-repeat;
	padding: 10px 10px;
	margin-bottom: 30px;
	clip-path: polygon(0px 0px, 97.35% 0px, 99.82% 9.4%, 100% 70%, 100% 100%, 30% 100%, 2.55% 99.18%, 0.15% 89.19%, 0% 30%);
}

.container-main-vakansiya {
	display: inline-block;
	padding-bottom: 20px;
}

.container-main-vakansiya h4 {
	color: black;
	font-size: 20px;
	font-weight: 900;
	line-height: 1;
}

.container-price {
	float: right;
	margin-top: -8px;
}

p.price {
	text-align: right;
	font-size: 28px;
}

.block-vakansiya span {
	color: red;
	font-size: 28px;
	font-weight: 700;
}

.vakansii-content li p {
	font-size: 16px;
	margin: 0;
	color: #0d0d0d; 
}
/*END VAKANSII*/


/*HEADER RESPONSIVE*/
@media screen and (max-width: 750px) {
	.header-top{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}
}

@media screen and (max-width: 650px) {
	.nav-menu ul {
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 400px) {
	.nav-menu ul {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}
	.nav-menu ul li {
		line-height: 2.5;
	}
	.bread-crumbs{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
	}
	.bread-crumbs ul {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		padding: 0;
		margin-bottom: 30px;
	}
	.bread-crumbs ul li {
		line-height: 2.5;
	}
	.bread-crumbs ul li::after {
		padding: 0 0 0 1rem
	}
}
/*END HEADER RESPONSIVE*/


/*FOOTER RESPONSIVE*/
@media screen and (max-width: 1006px) {
	.footer .container {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
		text-align: center;
	}
	.footer .logo-and-reserved {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
		text-align: center;
	}
	.footer .footer-soc-contacts {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
		text-align: center;
	}
}
/*END FOOTER RESPONSIVE*/


/*RESPONSIVE из файла responsive.sass*/
@media (max-width: 991px) {
	.tree-branches li {
		position: relative !important;
		max-width: none !important;
		margin: 1rem 0;
		top: auto !important;
		right: auto !important;
		left: auto !important; } }

@media screen and (max-width: 826px) {
	.products {
		-webkit-justify-content: space-around;
		-ms-flex-pack: distribute;
		justify-content: space-around; } }

@media screen and (max-width: 768px) {
	.products-card {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column; }
	.products-card img {
		margin-bottom: 20px; } }

@media screen and (max-width: 522px) {
		.free-del-text {
    font-size: 12px;

}
	
	.feedback{
		width:100% !important;
		height: 90% !important;
	}
	.address {
    width: 50% !important;
		
}
	
	.address_search {
	float:right !important;
	}
	
	
	.main-link-price_list a {
   font-size: 9px !important;
}
	.main-link-price_list img {
    width:45% !important;
}
	.main-link-products_services a {
    font-size: 9px !important;
}
	.main-link-products_services img {
     width:45% !important;
}
	.main-link-delivery a {
   font-size: 9px !important;
}
	.main-link-delivery img {
    width:45% !important;
}
	.main-link-photo_report a {
  font-size: 9px !important;
}
		.main-link-photo_report img {
    width:45% !important;
}
	.main-link-contacts a {
   font-size: 9px !important;
}
	.main-link-contacts a {
   width:45% !important;
}
	.product-price-block {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column; }
	.products-card-tel-nums {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column; }
	.table-bordered {
		/*word-break: break-all; */} }
/*END RESPONSIVE из файла responsive.sass*/



/* VIKAR MAIN */

.main-cap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	color: #fff;
	margin-bottom: 30px;
}

.main-cap-phone {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.main-cap-phone h3{
	font-family: 'Open SansBold', sans-serif;
	font-weight: 700;
	margin: 0;
}

.main-cap-phone img {
	width: 21px;
	height: 21px;
	margin-right: 17px;
}

.main-cap-message {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: flex-end;
}

.main-cap-message h5 {
	margin: 0;
}

.main-cap-message a {
	text-indent: 5px;
	text-decoration: underline;
}

.main-cap-message h5, .main-cap-message a {
	font-family: 'Open SansRegular', sans-serif;
	font-size: 16px;
	color: #fff;
}

.main-cap-message img {
	width: 20px;
	height: 15px;
	margin-right: 17px;
}

.container-fluid {
	max-width: 1450px; }

.red-text {
	color: #ed1d24; }

.main-callback-message-btn {
	position: fixed;
	background-color: #ee1d25;
	padding: 20px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	right: 0;
	top: 50vh;
	z-index: 99;
	-webkit-transition: 0.8s ease;
	-o-transition: 0.8s ease;
	transition: 0.8s ease; }
.main-callback-message-btn a {
	display: block; }
.main-callback-message-btn:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1); }

.main-callback-block {
	position: fixed;
	right: 0;
	z-index: 99;
	top: 10vh;
	width: 330px;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease; }

.main-callback-top {
	color: #fff;
	padding: 20px 15px;
	background-color: #424242;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-clip-path: polygon(6% 1%, 100% 0, 100% 20%, 100% 80%, 100% 100%, 7% 99%, 0 100%, 0 22%);
	clip-path: polygon(6% 1%, 100% 0, 100% 20%, 100% 80%, 100% 100%, 7% 99%, 0 100%, 0 22%); }

.main-callback-top-img {
	margin-right: 10px; }

.main-callback-top-text {
	line-height: 0.5; }
.main-callback-top-text h5 {
	font-family: "Open SansSemiBold", sans-serif;
	font-size: 18px;
	font-weight: 600; }
.main-callback-top-text span {
	font-family: "Open SansLight", sans-serif;
	font-weight: 300;
	font-size: 14px;
	position: relative; }

.main-callback-close-wrap {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center; }

.main-callback-close-wrap .main-callback-close {
	display: block;
	cursor: pointer; }

.main-callback-content {
	background-color: #fff;
	padding: 20px 15px; }

.main-callback-content-text {
	background-color: #e9e9e9;
	padding: 15px; }
.main-callback-content-text:before {
	content: url("../images/main-rectangle-left.png");
	position: absolute;
	display: block;
	left: 7px;
	top: 170px; }

.main-callback-content-date {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	color: #404040;
	margin: 15px 0;
	display: block;
	text-align: left; }

.main-callback-textarea {
	border: 1px solid #d5d5d5;
	padding: 10px;
	font-family: "Open SansLight", sans-serif;
	font-size: 15px;
	font-weight: 300; }

.main-callback-send-btn a {
	background-color: #ee1d25;
	display: block;
	text-align: center;
	padding: 25px 0;
	color: #fff;
	font-family: "Open SansBold", sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 100% 100%, 7% 99%, 0 74%, 0% 20%);
	clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 100% 100%, 7% 99%, 0 74%, 0% 20%); }
.main-callback-send-btn a:hover {
	text-decoration: none;
	background-color: #000; }

.main-first-section {
	text-align: center;
	padding-top: 35px;
	background-image: url("../images/main-bg-1.jpg");
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover; }

.gallery-1 {
	/* height: 361px; */
	height: 240px;
	display: flex;
	justify-content: baseline;
	position: relative;
}

.gallery-1 a {
	text-decoration: none;
	color: #000;
	width: 100%;
	height: 30%;
	position: absolute;
    bottom: 14%;
    
}

.photo1 {
  background: url(/public/images/main-layer-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.photo2 {
	background: url(/public/images/main-layer-13.png);
	background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.photo3 {
	background: url(/public/images/main-layer-3.jpg);
	background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.photo4 {
	background: url(/public/images/main-layer-5.png);
	background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.photo5 {
	background: url(/public/images/main-layer-4.jpg);
	background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.photo6 {
	background: url(/public/images/main-layer-7.jpg);
	background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.photo7 {
	background: url(/public/images/main-layer-8.jpg);
	background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.photo8 {
	background: url(/public/images/main-layer-9.jpg);
	background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-images {
	font-size: 0; }
.main-images img {
	-webkit-transition: 0.8s ease;
	-o-transition: 0.8s ease;
	transition: 0.8s ease; }
.main-images img:nth-child(1), .main-images img:nth-child(2), .main-images img:nth-child(3), .main-images img:nth-child(4), .main-images img:nth-child(5) {
	vertical-align: bottom; }
.main-images img:nth-child(6) {
	height: 280px; }
.main-images img:nth-child(7) {
	height: 280px; }
.main-images img:nth-child(8), .main-images img:nth-child(9) {
	vertical-align: top; }
.main-images img:nth-child(10), .main-images img:nth-child(11), .main-images img:nth-child(12), .main-images img:nth-child(13) {
	vertical-align: top; }
.main-images img:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1); }

.main-images img:nth-child(6),
.main-images img:nth-child(7),
.main-images img:nth-child(8),
.main-images img:nth-child(9) {
	height: 210px !important;
}

/* keyframes main-images */
@keyframes img {
	from { transform: scale(1.0); }
	50% { transform: scale(1.1); }
	to { transform: scale(1.0); }
}

.main-images img:nth-child(1) {
	animation: img 5s infinite ease;
}

.main-images img:nth-child(2) {
	animation: img 6s infinite ease;
}

.main-images img:nth-child(3) {
	animation: img 7s infinite ease;
}

.main-images img:nth-child(4) {
	animation: img 8s infinite ease;
}

.main-images img:nth-child(5) {
	animation: img 9s infinite ease;
}

.main-images img:nth-child(6) {
	animation: img 8s infinite ease;
}

.main-images img:nth-child(7) {
	animation: img 7s infinite ease;
}

.main-images img:nth-child(8) {
	animation: img 6s infinite ease;
}

.main-images img:nth-child(9) {
	animation: img 5s infinite ease;
}

.main-images img:nth-child(10) {
	animation: img 4s infinite ease;
}

.main-images img:nth-child(11) {
	animation: img 5s infinite ease;
}

.main-images img:nth-child(12) {
	animation: img 3s infinite ease;
}

.main-images img:nth-child(13) {
	animation: img 6s infinite ease;
}
/* end keyframes main-images */

.main-images img:nth-child(7) {
	width: 150px; 
}

.main-greeting {
	background-image: url("../images/main-bg-2.jpg");
	background-position: right;
	-webkit-background-size: cover;
	background-size: cover;
	color: #fff;
	padding-bottom: 80px; }

.main-greeting-title {
	text-align: center;
	color: #ffffff;
	margin-top: 82px; }
.main-greeting-title h1 {
	text-transform: uppercase;
	font-size: 32px;
	font-family: "Open SansExtraBold", sans-serif;
	font-weight: 800;
	position: relative; }
.main-greeting-title h1:before {
	content: '';
	display: block;
	width: 162px;
	height: 2px;
	position: absolute;
	background-color: #ee1d25;
	left: 35px;
	top: 30px; }
.main-greeting-title h1:after {
	content: '';
	display: block;
	width: 162px;
	height: 2px;
	position: absolute;
	right: 35px;
	top: 30px;
	background-color: #ee1d25; }
.main-greeting-title h3 {
	text-transform: uppercase;
	font-size: 16px;
	font-family: "Open SansExtraBold", sans-serif;
	font-weight: 800; }
.main-greeting-title h3:after {
	content: '';
	background-color: #ee1d25;
	height: 4px;
	width: 35px;
	display: block;
	margin: 35px auto; }

.bold-26 {
	font-size: 26px;
	font-family: "Open SansExtraBold", sans-serif;
	font-weight: 800 !important;
	color: #fff;
	text-transform: uppercase; }

.main-greeting-mini-title {
	text-align: center; }
.main-greeting-mini-title h4 {
	font-family: "Open SansExtraBold", sans-serif;
	font-weight: 800;
	    font-size: 18px;
	text-transform: uppercase;
	color: inherit; }
.main-greeting-mini-title p {
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	margin: 0}

.main-greeting-btn {
	font-family: "Open SansBold", sans-serif;
	text-transform: uppercase;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 35px 0; }
.main-greeting-btn a {
	display: block;
	width: 307px;
	margin:auto !important;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	font-size: 22px;
	background-color: #ee1d25;
	padding: 22px 0;
	text-align: center;
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
	-webkit-clip-path: polygon(5% 0, 80% 0%, 100% 0, 100% 81%, 94% 100%, 20% 100%, 0 100%, 0 18%);
	clip-path: polygon(5% 0, 80% 0%, 100% 0, 100% 81%, 94% 100%, 20% 100%, 0 100%, 0 18%); }
.main-greeting-btn a:hover {
	background-color: #fff;
	color: #000; }
.main-greeting-btn a:first-child {
	margin-right: 35px; }

.main-last-section {
	background-image: url("../images/main-bg-3.jpg");
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	text-align: center;
	padding: 137px 0 137px 0;
min-height: 900px;}

.main-last-images {
	font-size: 0;
	position: relative;
	margin-left: -30px; }
.main-last-images img {
	-webkit-transition: 0.8s ease;
	-o-transition: 0.8s ease;
	transition: 0.8s ease;
	position: relative; }
.main-last-images img:nth-child(1) {
	left: 10px;
	top: 157px;
	z-index: 1; }
.main-last-images img:nth-child(2) {
	z-index: 2;
	vertical-align: bottom; }
.main-last-images img:nth-child(3), .main-last-images img:nth-child(4) {
	vertical-align: bottom; }
.main-last-images img:nth-child(5) {
	vertical-align: bottom;
	left: 100px; }
.main-last-images img:nth-child(6) {
	vertical-align: top;
	z-index: 2;
	left: 100px; }
.main-last-images img:nth-child(7) {
	vertical-align: top;
	left: 100px;
	z-index: 2; }
.main-last-images img:nth-child(8) {
	vertical-align: bottom;
	z-index: 1;
	left: -80px; }
.main-last-images img:nth-child(9) {
	position: absolute;
	right: 53px;
	top: 278px; }
.main-last-images img:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1); }

/* keyframes last-images */
.main-last-images img {
	animation: images 5s infinite ease;
}

@keyframes images {
	from { transform: scale(1.0); }
	50% { transform: scale(1.1); }
	to { transform: scale(1.0); }
}
/* end keyframes last-images */

.main-links-wrap {
	position: relative; }

.main-link-products_services {
	background-color: #f9f9f9;
	position: absolute;
	z-index: 5;
	padding: 30px;
	left: 10%;
	top: 155px; }
.main-link-products_services a {
	display: block;
	color: #000;
	font-family: "Open SansExtraBold", sans-serif;
	font-weight: 800;
	font-size: 22px;
	text-transform: uppercase;
	margin-top: 20px;
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease; }
.main-link-products_services a:hover {
	text-decoration: underline; }

.main-link-price_list {
	background-color: #f9f9f9;
	position: absolute;
	z-index: 5;
	padding: 30px;
	left:0%;
	top: 431px; }
.main-link-price_list a {
	display: block;
	color: #000;
	font-family: "Open SansExtraBold", sans-serif;
	font-weight: 800;
	font-size: 22px;
	text-transform: uppercase;
	margin-top: 20px;
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease; }
.main-link-price_list a:hover {
	text-decoration: underline; }

.main-link-delivery {
	background-color: #f9f9f9;
	position: absolute;
	z-index: 5;
	padding: 30px;
	left: 649px;
	top: 500px; }
.main-link-delivery a {
	display: block;
	color: #000;
	font-family: "Open SansExtraBold", sans-serif;
	font-weight: 800;
	font-size: 22px;
	text-transform: uppercase;
	margin-top: 20px;
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease; }
.main-link-delivery a:hover {
	text-decoration: underline; }

.main-link-photo_report {
	background-color: #f9f9f9;
	position: absolute;
	z-index: 5;
	padding: 30px;
	right: 10%;
	top: 100px; }
.btn-play-gallery-parent{
    width: 100%;
}
.main-link-contacts a {
    display: block;
    color: #000;
    font-family: "Open SansExtraBold", sans-serif;
    font-weight: 800;
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 20px;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    /* margin: auto; */
    width: 100%;
}
.main-link-photo_report a {
	display: block;
	color: #000;
	font-family: "Open SansExtraBold", sans-serif;
	font-weight: 800;
	font-size: 22px;
	text-transform: uppercase;
	margin-top: 20px;
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease; }
.main-link-photo_report a:hover {
	text-decoration: underline; }

.main-link-contacts {
	background-color: #f9f9f9;
	position: absolute;
	z-index: 5;
	padding: 30px;
	right: 25%;
	top: 480px; }
.main-link-contacts a {
	display: block;
	color: #000;
	font-family: "Open SansExtraBold", sans-serif;
	font-weight: 800;
	font-size: 22px;
	text-transform: uppercase;
	margin-top: 20px;
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease; }
.main-link-contacts a:hover {
	text-decoration: underline; }


	.photo2-1 {
		
		background-size: cover !important;
		background-repeat: no-repeat !important;
		background-position: center !important;
		 font-size: 22px;
		 color: #000;
		 font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	background-position-y: 34% !important; 
	  }
	  
	  .photo2-2 {
		 
        background-color: #fff !important;
		background-repeat: no-repeat !important;
		background-position: center !important;
		 font-size: 22px;
		 color: #000;
		 font-family: 'Open Sans', sans-serif;
		font-weight: 800;
		text-transform: uppercase;
		background-position-y: 34% !important;

		
	  }
	  
	  .photo2-3 {
		  
		  background-size: cover !important;
		background-repeat: no-repeat !important;
		background-position: center !important;
		 font-size: 22px;
		 color: #000;
		 font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	background-position-y: 34% !important;
	  }
	  
	  .photo2-4 {
		 
		  background-color: #fff !important;
		background-repeat: no-repeat !important;
		background-position: center !important;
		 font-size: 22px;
		 color: #000;
		 font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	background-position-y: 34% !important;
	  }
	  
	  .photo2-5 {
		  
		  background-color: #fff !important;
		background-repeat: no-repeat !important;
		background-position: center !important;
		 font-size: 22px;
		 color: #000;
		 font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	background-position-y: 34% !important;
	  }
	  
	  .photo2-6 {
		  
		  background-size: cover !important;
		background-repeat: no-repeat !important;
		background-position: center !important;
		 font-size: 22px;
		 color: #000;
		 font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	background-position-y: 34% !important;
	  }
	  
	  .photo2-7 {
		  
		  background-color: #fff !important;
		background-repeat: no-repeat !important;
		background-position: center !important;
		 font-size: 22px;
		 color: #000;
		 font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	background-position-y: 34% !important;
	  }
	  
	  .photo2-8 {
		  
		  background-size: cover !important;
		background-repeat: no-repeat !important;
		background-position: center !important;
		 font-size: 22px;
		 color: #000;
		 font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	background-position-y: 34%;
	  }

/* END VIKAR MAIN */
/* VIKAR MAIN RESPONSIVE */
@media screen and (max-width: 1420px) {
	.main-last-section {
		padding: 137px 0 0 0;
	    position:relative; }
	.main-last-images {
		font-size: 0;
		position: relative;
		margin-left: -30px; }
	.main-last-images img {
		position: relative; }
	.main-last-images img:nth-child(1), .main-last-images img:nth-child(2), .main-last-images img:nth-child(3) {
		vertical-align: bottom;
		position: static; }
	.main-last-images img:nth-child(4), .main-last-images img:nth-child(5), .main-last-images img:nth-child(6), .main-last-images img:nth-child(7), .main-last-images img:nth-child(8) {
		vertical-align: top !important;
		position: static; }
	.main-last-images img:nth-child(6) {
		z-index: 2;
		position: relative; }
	.main-last-images img:nth-child(9) {
		position: absolute;
		right: 200px 
		top: 500px  }
	.main-last-images img:nth-child(8) {
		position: relative;
		bottom: 157px; } }

@media screen and (max-width: 1000px){
	
	.products-card {
		max-width:50%;
}
	
	.main-images img {
    position: absolute !important;
    width: auto;
    height: auto;
}
.main-images img:nth-child(1){
        max-width: 120px !important;
    max-height: 120px;
    left: 20%;
    top: 3.3rem;
	
}

.main-images img:nth-child(2){
        max-width: 130px !important;
    max-height: 200px;
	left: 33%;
}

.main-images img:nth-child(3){
       max-width: 130px !important;
    max-height: 150px;
       right: 41%;
}
.main-images img:nth-child(4){
          max-width: 100px !important;
    max-height: 140px;
       right: 30%;
    top: 2.5rem;
	
}
.main-images img:nth-child(5){
max-width: 110px !important;
    right: 18%;
    top: 1.5rem;
 
}
.main-images img:nth-child(6){
    max-width: 150px !important;
    max-height: 100px !important;
    top: 7.5rem;
       left: 17.1%;
	
}
.main-images img:nth-child(7){
        max-width: 130px;
    top: 9.5rem;
    left: 33%;
    min-height: 200px;
}
.main-images img:nth-child(8){
       max-width: 230px;
    max-height: 150px;
    top: 9rem;
    right: 30%;
}
.main-images img:nth-child(9){
     max-width: 150px !important;
        right: 16%;
    top: 6.5rem;
    max-height: 130px;
}
.main-images img:nth-child(10){
      max-width: 110px !important;
    top: 14rem;
    left: 20%;
}
.main-images img:nth-child(11){
      max-height: 50px;
    left: 20%;
    top: 19rem;

	
}
.main-images img:nth-child(12){
     max-height: 105px;
    top: 20.5rem;
        right: 30.5%;
}
.main-images img:nth-child(13){
     max-height: 100px;
    top: 15rem !important;
        right: 15% !important;
}	

.main-link-products_services {

     left: 17%;
    top: 155px;
}
	
.main-link-products_services a{

  font-size: 12px;
}
	
.main-link-products_services img {

 width: 30%;
}
.main-link-photo_report {
   right: 9%;
        top: 40%;
}
	
.main-link-photo_report a{
font-size: 12px;
	
}
	.main-link-photo_report img{
width:55%;
	
}

.main-link-price_list {
    left: 0px; 
}
	
.main-link-price_list a{
   font-size: 12px;
}
	.main-link-price_list img{
   width:50%;
}
.main-link-contacts {
	right: 0px;
	    top: 200px;
	
}
	
.main-link-contacts a{
	font-size: 12px ;
	width: 100% !important;
	
	
}
	
.main-link-contacts img{
	 width:50%;
	
}

.main-link-delivery {
left: 37%;
    top: 379px;
}

	.main-link-delivery img{
		width:50%;
	}
	.main-link-delivery a{
font-size: 12px;
	}
	
.main-last-images img:nth-child(1), .main-last-images img:nth-child(2), .main-last-images img:nth-child(3) {
    vertical-align: bottom;
     position: absolute; 
}
	.main-last-images img:nth-child(1) {
		max-width: 301px;
		left:5%;
		position:absolute;
	}
	.main-last-images img:nth-child(2) {
	     max-width: 288px;
    max-height: 200px;
    position: absolute;
    left: 17%;
    top: 10%;
	}
	.main-last-images img:nth-child(3) {
	    max-width: 180px;
    position: absolute;
    right: 34.5%;
	}
	.main-last-images img:nth-child(4) {
		max-width: 150px;
		vertical-align: bottom !important;
		position:absolute;
		right: 2.5%;
	}
	.main-last-images img:nth-child(5) {
	    position: absolute;
    left: 10%;
    bottom: 7.5%;
    max-width: 180px;
}
	
	.main-last-images img:nth-child(6) {
	    max-width: 165px;
    position: absolute;
    bottom: 0;
    left: 30%;
	}
.main-last-images img:nth-child(7) {
    max-width: 330px;
    position: absolute;
    bottom: 35%;
    left: 47%;

	}
	.main-last-images img:nth-child(8) {
	    max-width: 330px;
    position: absolute;
    bottom: 12%;
    left: 62%;
	}
	.main-last-images img:nth-child(9) {
	    max-width: 150px;
    position: absolute;
    top: 15.5%;
        right: 2.5%;
	}

}
@media screen and (max-width: 1366px) {
	.main-images {
		    position: relative;
    min-height: 500px;
	}
	.main-link-contacts {
    background-color: #f9f9f9;
    position: absolute;
    z-index: 5;
    padding: 30px;
    right: 45%;
    top: 480px;
}
	.main-images img:nth-child(13) {
	/*	top: 800px;
		left: 968px; */}
	
	.main-images img:nth-child(1) {
		max-width: 197px;
		
		left: 20%;
    top: 3.3rem;

	}
	.main-images img:nth-child(2) {
		max-width: 180px;
		
		left: 33%;
	}
	.main-images img:nth-child(3) {
		    max-width: 158px;
            height: 205px;
		
		 right: 41%;
		   
	}
	.main-images img:nth-child(4) {
		max-width: 138px;
		
		right: 30%;
		top: 2.5rem;
	}
	.main-images img:nth-child(5) {
		max-width: 155px;
    max-height: 100px;
		
		right: 18%;
    top: 1.5rem;
		  
	}
	.main-images img:nth-child(6) {
		        max-width: 251px;
    max-height: 170px;
		
		 top: 7.5rem;
       left: 17.1%;
	}
	
.main-images img:nth-child(7){
        max-width: 130px;
    top: 9.5rem;
    left: 33%;
    min-height: 200px;
}
	.main-images img:nth-child(8) {
		    max-width: 227px;
    max-height: 180px;
		
		top: 9rem;
    right: 30%;
	}
	.main-images img:nth-child(9) {
		max-width: 230px;
		 right: 16%;
    top: 6.5rem;
		
	}
	.main-images img:nth-child(10) {
		max-width: 230px;
		
		 top: 14rem;
    left: 20%;
	}
	.main-images img:nth-child(11) {
		max-width: 185px;
		
		 left: 20%;
    top: 19rem;
	}
	.main-images img:nth-child(12) {
		max-width: 387px;
		
		bottom: 32px;
		 top: 20.5rem;
        right: 30.5%;
	}
	.main-images img:nth-child(13) {
		max-width: 245px;
		
		top: 15rem !important;
        right: 15% !important;
	}

	.main-last-images img:nth-child(1) {
		width: 231px;
	}
	.main-last-images img:nth-child(2) {
		width: 328px;
	}
	.main-last-images img:nth-child(3) {
		width: 180px;
	}
	.main-last-images img:nth-child(4) {
		width: 180px;
		vertical-align: bottom !important;
	}
	.main-last-images img:nth-child(5) {
		width: 230px;
	}
	.main-last-images img:nth-child(6) {
		width: 230px;
	}
	.main-last-images img:nth-child(7) {
		width: 330px;
	}
	.main-last-images img:nth-child(8) {
		width: 330px;
	}
	.main-last-images img:nth-child(9) {
		width: 230px;
	}
	.main-links-wrap div {
		position: absolute !important;
		margin: 20px 100px; }


}
/*
@media screen and  (max-width: 1280px){

.main-images img:nth-child(1) {
		max-width: 247px;

	}
	.main-images img:nth-child(2) {
		max-width: 230px;
	}
	.main-images img:nth-child(3) {
		max-width: 168px;
		   
	}
	.main-images img:nth-child(4) {
		max-width: 168px;
	}
	.main-images img:nth-child(5) {
		max-width: 155px;
    max-height: 100px;
		  
	}
	.main-images img:nth-child(6) {
		        max-width: 251px;
    max-height: 170px;
	}
	.main-images img:nth-child(8) {
		    max-width: 227px;
    max-height: 180px;
	}
	.main-images img:nth-child(9) {
		max-width: 230px;
	}
	.main-images img:nth-child(10) {
		max-width: 230px;
	}
	.main-images img:nth-child(11) {
		max-width: 185px;
	}
	.main-images img:nth-child(12) {
		max-width: 387px;
		position: relative;
		bottom: 32px;
	}
	.main-images img:nth-child(13) {
		max-width: 245px;
	}
}*/


@media screen and (max-width: 1278px) {
	

@media screen and (max-width: 1040px) {
	.main-images {
		    min-height: 400px;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	    position: relative;}
	
	.main-greeting-title h1:before {
		display: none; }
	.main-greeting-title h1:after {
		display: none; }
	.main-last-images {
		min-height:600px;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		position: relative;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		padding: 0;
		margin: 0; }
	/*.main-last-images img {
	position: static !important;
	width: 200px;
	height: 200px; }
	.main-last-images img:last-child {
	margin-bottom: 40px;
}
	.main-last-images img {
	width: 230px !important;
}*/
}

@media screen and (max-width: 947px) {
	.main-greeting-btn a {
		margin: 20px; } }

@media screen and (max-width: 929px) {
	.main-links-wrap div {
		position: static !important;
		margin: 20px 100px; } }
	.main-greeting-btn a:first-child {
		margin: 0;
	}
	.main-images img {
		position: static;
		width: auto;
		height: auto; }
}


@media screen and (max-width: 570px) {

	
	.main-cap {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}

	.main-cap-logo {
		margin-bottom: 20px;
	}
	.main-cap-phone {
		margin-bottom: 20px;
	}
	.tree-branches li p {
    font-size: .75rem;
 
}
	.tree-branches li {
    margin: .5rem 1rem;

}
}

@media screen and (max-width: 395px) {
	.main-images img:nth-child(9) {
		position: relative !important;
		top: -97px;
	}

}

@media screen and (max-width: 490px) {
	.main-links-wrap div {
		position: static !important;
		margin: 20px; }
	.main-greeting-title h1 {
		font-size: 50px; }
	.main-greeting-title h3 {
		font-size: 28px; }
	.main-greeting-mini-title h4 {
		font-size: 24px; }
	.main-greeting-mini-title p {
		font-size: 20px; }
	.main-greeting-mini-title br {
		display: none; }
	.bold-26 {
		font-size: 16px; }
}

@media screen and (max-width: 480px) {
	.main-greeting-btn a {
		margin: 20px 0;
		padding: 22px 25px;
		margin-top: 1rem !important;
	}
	.main-first-section{
	padding-bottom: 0px;
	}
	.main-last-section {
    padding: 0px 0 0 0;
    position: relative;
}
}

@media screen and (max-width: 429px) {
	.main-last-images img {
		margin-bottom: 20px;
	}
	.main-cap-phone h3 {
		font-size: 25px;
	}
	.main-callback-block {
		top: 10px;
	}
}

/* END VIKAR MAIN RESPONSIVE */ 




/*CONTACTS STYLE*/
.contact-main-left-title h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 2.2rem;
	color: #fff;
	text-align: left;
	text-transform: uppercase; }

.contact-main-left-title h3 span {
	color: #ee1d25; }

.contact-main-title h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 2.5rem;
	color: #fff;
	text-align: center;
	text-transform: uppercase; }

.contact-main-title h3 span {
	color: #ee1d25; }

.contact-main-content {
	min-height: 600px;
	padding-top: 30px;
	margin-bottom: 30px; }

.phone-num h3{
	color: #ed1d24;
	font-size: 28px;
	font-family: "Open SansBold", sans-serif;
	text-align: center;
}
.email p{
	color: #fefefe;
	font-size: 20px;
	font-family: "Open Sans", sans-serif;
	text-align: center;
}
.contact-header h5,span{
	font-size: 20px;
	color: #fefefe;
	font-family: 'Open SansSemiBold', sans-serif;
	text-align: center;
	font-weight: 600;
}
.contact-text p {
	color: #fefefe;
	font-size: 20px;
	font-family: "Open Sans", sans-serif;
}

.address {
	width:70%;
	border:none;
	outline:none;
}

.address p{
	font-size: 20px;
	color: #fefefe;
	font-family: 'Open SansBold', sans-serif;
	text-align: center;
}
.map{
	width: 100%;
	height: 565px;
	-webkit-clip-path: polygon(7% 0, 100% 0, 100% 93%, 94% 100%, 44% 100%, 0 100%, 0 7%);
	clip-path: polygon(7% 0, 100% 0, 100% 93%, 94% 100%, 44% 100%, 0 100%, 0 7%);
}

/*END CONTACTS STYLE*/

.overlay {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: rgba(0,0,0,0.6);
	z-index: 98;
}
.modal-ty{
	position: fixed;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
	background: #FFFFFF;
	border-radius: 10px;
	z-index: 99;
	height: 200px;
	padding: 20px 50px;
	border: 5px solid red;
}
.modal-ty h1{
	text-align: center;
	color: #000;
	font-size: 30px;
}
.feedback{
	position: absolute;
	height:73%;
	width: 80%;
	top: 10%;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0 auto;
	background: #FFFFFF;
	border-radius: 10px;
	z-index: 99;
	overflow-y: auto;
	overflow-x: hidden;
}
.close-modal{
	position: absolute;
	top: 0%;
	right: 2%;
	color: #585959;
	font-size: 25px;
	text-decoration: none;
	z-index: 999;
	text-align: center;
	cursor: pointer;
}
.close-form-btn {
	position: absolute;
	top: 10px;
	right: 10px;
}
.close-form-btn a{
	color: #585959;
	font-size: 25px;
	text-decoration: none;
}
.close-form-btn a:hover{
	transition: all 0.3s ease-in;
}

.pay-sum {
	color: #fff;
	font-family: "Open SansBold", sans-serif;
}
.pay-form-control {
	padding: 1rem 0;
}
.pay-form-control input {
	background: none;
	border: none;
	border-bottom: 2px solid #fff;
	color: #fff;
	font-family: "Open SansBold", sans-serif;
	max-width: 480px;
	font-size: 1.2rem;
	width: 100%;
	margin-left: 1.5rem;
}
.pay-form-control input:focus{
	transition: all .3s ease-in-out;
	background:#fff;
	color:#000;
	border-radius: 5px;
	padding-left: 10px;
}
.pay-form-control label{
	font-family: "Open SansBold", sans-serif;
	font-size: 1.2rem;
	color: #ed1d24;
	margin-left: 1rem;
}
@media (max-width: 1400px){
	.feedback{
		width: 60%;
	}
}

@media (max-width: 580px){
	.mobile-slider{
		display: block;
	}
}

